#directories
bower_components
node_modules
static/*
venv
scss
.DS_Store
.venv
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.mypy_cache/
templates/components/
__pycache__


#files
*.tgz
*.log
*material-dashboard*
tempCodeRunnerFile.py
yarn.lock
salespoint.db 
config.py
LICENSE.md
hashutil.py
