{% set subtotal = namespace(value=0) %}
{% set taxtotal = namespace(tvalue=0) %}           
  {% for item in order.items %}
    {% set currenttotal = namespace(bvalue=0) %}                                      
    {% set currenttotal.bvalue = currenttotal.bvalue + (item.item.unit_price * item.quantity) %}
      {% set currenttax = namespace(ctvalue=0) %}
      {% for tax in item.item.taxes %}
        {% set currenttax.ctvalue = currenttax.ctvalue + tax.tax_rate|float %}
      {% endfor %}
      {% set taxtotal.tvalue =  taxtotal.tvalue + (currenttotal.bvalue|float * (currenttax.ctvalue|round(5, 'floor')/100) ) %}   
      {% set subtotal.value = subtotal.value + currenttotal.bvalue %}
  {% endfor %}  
  {% set totaldiscount = namespace(dvalue=0) %}
  {% set ttdis = namespace(ttdis=0) %}
  {% set amount = namespace(amount=0) %}
  {% set percent = namespace(percent=0) %}
  {% for discount in order.discounts %}                                   
  {% if discount.discount.type_id == 1 %}
  {% set amount.amount = amount.amount + discount.discount.value %}
  {% else %}
  {% set percent.percent = percent.percent + discount.discount.value|float %}  
  {% endif %}
  {% endfor %}

  {% set ttdis.ttdis = subtotal.value|float * (percent.percent|round(5, 'floor')/100)  %}
  {% set totaldiscount.dvalue = ttdis.ttdis + amount.amount|float %}

<div id="invoice-POS">  
    <div id="mid">
      <div class="info">
        <h2> *** ORDER {{order.id}} ***</h2>
        <p> 
            *{{order.type.order_type}}*<br>
            Terminal#: {{term.id}}<br>
            CHK#: {{order.chk_num }}<br>
            Server: {{order.createdby.first_name}}<br>
            Order Date: {{order.date_created.strftime('%m-%d-%Y %I:%M %p')}}
        </p>
      </div>
    </div><!--End Invoice Mid-->    
    <div id="bot">
        <div id="table">
            <table>
                <tr class="tabletitle">
                    <td class="item"><h2>Item</h2></td>
                    <td class="Hours"><h2>Qty</h2></td>
                </tr>
                {% for item in order.items%} 
                <tr class="service">
                    <td class="tableitem"><p class="itemtext">{{item.item.item_name}}</p></td>
                    <td class="tableitem"><p class="itemtext">{{item.quantity}}</p></td>
                </tr>
                <tr class="service">
                    <td class="tableitem" colspan="2"><p class="itemtext">NOTES: {{item.notes}}</p></td>
                </tr>
                {% endfor %}
            </table>
        </div><!--End Table-->
    </div><!--End InvoiceBot-->
</div><!--End Invoice-->
