{% extends 'tasks/components/task-base.html' %}
  {% block content %}
  <style>
    #ticket-total::placeholder {
      font-weight: 900;
      color: black;
      text-align: right;
    }
  </style>
  <div class="row order-row">
    <div id="ticket_list" class="col-md-6 order-box ">
      <form id="new-ticket">
        <fieldset class="form-group">        
            <legend class=""><h5>{{ordertype}} [{{orderstatus}}]</h5></legend>            
              <div class="form-group new_order_notes">            
                <input type="text" class="col-md-6 form-control success" id="notes" name="notes" placeholder="Notes">                
              </div>
              <div class="col-md-12 ticket_table">
                <div class="card">                
                  <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                      <i class="material-icons">receipt</i>
                    </div>
                    <h4 class="card-title ">{{orderid}}</h4>
                  </div>
                  <div class="card-body">
                    <div id="table" class="table-editable pull-left">
                      <span class="table-add float-right mb-3 mr-2"><a id="custom" href="#!" class="text-success">
                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
                      </span>
                      <table class="table table-bordered table-responsive-md table-striped text-center w-auto">
                        <thead>
                          <tr>
                            <th class="th-sm text-center">Qty</th>
                            <th class="th-sm text-center">Item</th>
                            <th class="th-sm text-center">Price</th>                              
                            <th class="th-sm text-center">Remove</th>
                          </tr>
                        </thead>
                        <tbody id="orderlist">
                          <form id=orderForm>                            
                            <input hidden name="customer" value=""/>
                            <input hidden name="ordertype" value="{{ordertypeID}}"/>
                            <input hidden name="orderstatus" value="{{orderstatusID}}"/>                         
                          <!-- This is our clonable table line --> 
                        </form>                           
                        </tbody>                        
                      </table>
                      <div id="order_total" class="col-md-12">
                        <div class="form-group">
                          <label for="ticket-total" class="total_label" >Total:</label>
                          <input class="form-control" disabled id="ticket-total" name="total" placeholder="$0.00"  />
                      </div>
                    </div>
                  </div><!--End of table-->
                  <!--Table Control Buttons-->
                  <div class="pull-right ticket-btns">
                    <button id="up" class="btn btn-social btn-just-icon">
                      <i class="material-icons">keyboard_arrow_up</i>
                    </button><br>
                    <button id="add" class="btn btn-social btn-just-icon">
                      <i class="material-icons">add</i>
                    </button><br>
                    <button id="sub" class="btn btn-social btn-just-icon">
                      <i class="material-icons">minimize</i>
                    </button><br>
                    <button id="remove" class="btn btn-social btn-just-icon">
                      <i class="material-icons">close</i>
                    </button><br>
                    <button id="down" class="btn btn-social btn-just-icon">
                      <i class="material-icons">keyboard_arrow_down</i>
                    </button><br>  
                  </div> <!--End of Table Buttons-->                  
                </div><!--End Card body-->
              </div><!--End Card-->
            </div><!--End of Ticket table-->
          </fieldset>
        </form><!--End of Ticket Form-->
      </div><!--End Ticket-->
<!---------------------Menu Items------------------------------------------------>
      <div id="menu_items" class="col-md-4 order-box">
        <fieldset class="form-group">        
          <legend class=""><h5>Items</h5></legend>
          {% if items %}
          <div class="photography">
              <div class="row">
              {% for item in items %}
                  <div id="{{item.item.id}}" class="menu-item col-md-2 {{item.item.item_category}} all" data-name="{{item.item.item_name}}" data-price="{{item.item.unit_price}}" >
                      <a data-href="{{item.img}}" href="#" class="item-btn photography-entry img d-flex justify-content-center align-items-center" style="background-image: url({{item.img}});">                        
                        <div class="overlay"></div>  
                        <div class="text text-center">
                              <h3>{{item.item.item_name}}</h3>
                              <span class="tag">{{item.cat}}</span>
                          </div>
                      </a>
                  </div>
              {% endfor %}
              </div>
          </div>
          {% endif %}
        </fieldset>
      </div> <!--End of Items-->
<!---------------------Categories-------------------------->
      <div id="menu_categories" class="col-md-2 order-box">
        <button id="all" class="cat-btn btn btn-primary col-md-12 ">All</button>       
          {% if cat %}
            {% for c in cat%}      
            <button id="{{c.id}}" class="cat-btn btn {{btncolor}} col-md-12 ">{{c.name}}</button>
            {% endfor %}
          {% endif %}
      </div><!-- End of Categories-->
      <div id="bottomfunctions" class="row">
        <div class="col-md-3 col-lg-2">
          <button class="btn btn-success col-md-12" data-toggle="modal" data-target="#addCustModal">
            Customer
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <button class="btn btn-success col-md-12">
            HOLD
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <button class="btn btn-success col-md-12">
            SEND
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <button class="btn btn-success col-md-12">
            Cancel
          </button>
        </div>
      </div>
    </div><!--End of the Row-->               
    <script src="{{ url_for('static', filename='assets/js/tasks/neworder.js')}}"></script>    
    
    {% include 'tasks/components/add-customer-to-order.html' %}                                
                   
                  
                                        
                    

                   
                 
                                                            
              
                              
                                     
        
    

    

    
    



  
  {% endblock %}