<div id="discountsModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title" class="modal-title">Select Discount(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">  
                        
               <div id="discountsBody" class="row scrolling-wrapper-flexbox">
                {% if discounts %}
                {% for discount in discounts%}
                <button id="discount{{discount.id}}" class="discount btn btn-primary btn-round btn-sm discount-btn item_scroll" data-value="{{discount.value}}" data-type="{{discount.type_id}}">                   
                    <div>{{discount.discount_name}}</div>
                    <div>{{discount.value}}</div>
                    <div>{{discount.discounttype.name}}</div>
                </button>
                {% endfor %}
              {% endif %}
               </div>            
            </div>
            <div class="modal-footer">
                <div class="row col-md-12 justify-content-center">
                    <div class="">
                      <button id="cancelTable" type="reset" class="cancel btn" data-dismiss="modal">DONE<div class="ripple-container"></div></button>                      
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>        
