<div class="sidebar" data-color="rose" data-background-color="lightbrown5" >
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger | lightbrown5"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">     
      <img  class="logo-mini" src="{{url_for('static', filename='/assets/img/icons/logo-words.png')}}" />      
    <span class="simple-text logo-normal"> </span>  
  </div>
</div>
    
   
      
      
                  
               