{% extends '/modules/base.html' %}
    {% block content %}
    <div class="row mw_cards">
        <button class="btn btn-primary btn-lg taskbtn">DINE IN</button>
        <button class="btn btn-primary btn-lg taskbtn">CARRY OUT</button>
        <button class="btn btn-primary btn-lg taskbtn">ORDERS</button>
        <a href="{{url_for('admin')}}"><button class="btn btn-primary btn-lg taskbtn">BACK OFFICE</button></a>
        <button class="btn btn-primary btn-lg taskbtn">KITCHEN</button>
        <button class="btn btn-primary btn-lg taskbtn">SHUT DOWN</button>

    </div>
    {% endblock %}
    
