{% extends 'admin/dash/componets/base.html' %}
  {% block content %}
  {% include 'shared/logs.html' %}
          <div class="row latest-posts-view">                       
            <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <div class="card-icon">
                    <i class="material-icons">timeline</i>
                  </div>
                  <h4 class="card-title">Coloured Bars Chart
                    <small> - Rounded</small>
                  </h4>
                </div>
                <div class="card-body">
                  <div id="colouredBarsChart" class="ct-chart"></div>
                </div>
              </div>
            </div>                
          </div>
          <div class="row dashboard-cards">
            <!-- Current Status of the Site-->
              <div class="col-md-4">
                  <div id="currentStatus" class="card dash-cards">
                      <div class="card-header card-header-icon card-header-success">
                        <div class="card-icon">
                          <i class="material-icons rotate">touch_app</i>
                        </div>
                        <hr class="seperator">
                        <div class="card-title">
                          <h4>TOTAL ORDERS</h4>
                          <h6>As of Today At: {{time}} {{daynight}} </h6>
                        </div>
                        
                      </div>
                      <div id=currentStatusBody class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              
                              <tbody>
                                <tr>
                                  <td><span><b>DINE IN</b></span> </td>
                                  <td><span><b>1</b></span></td>
                                </tr>
                                <tr>
                                    <td><span><b>CARRY OUT</b></span> </td>
                                    <td><span><b>17</b></span></td>
                                </tr>
                                <tr>
                                    <td><span><b>OPEN</b></span> </td>     
                                    <td><span><b>2</b></span> </td>
                                </tr>
                                <tr>
                                    <td><span><b>CLOSED</b><span> </td>
                                        
                                    <td></span><b>15</b></span></td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                      </div>
                  </div>
              </div>
              <!--Add menu item-->
              <div class="col-md-4">
                  <div class="card dash-cards">
                    <div class="card-header card-header-success card-header-text">
                      <div class="card-icon">
                        <i class="material-icons">restaurant_menu</i>
                      </div>
                      <hr class="seperator">
                      <h4 class="card-title">Add Item</h4>
                      <button id="quickPostSubmit" class="btn btn-success" type="submit" form="quickPost"> <i class="material-icons-outlined">add</i></button>
                     
                    </div>
                    <div class="card-body ">
                      <form id="quickPost" class="form" action="" method="POST">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_1</i>
                            </span>
                          </div>
                          <label for="postType">Choose category</label>   
                          <select id="postType" name="postType" class="form-control selectpicker" data-style="btn btn-link" required>
                            <option>category</option>
                            <option>category</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_2</i>
                            </span>
                          </div>
                          <input type="text" name='name' class="form-control" placeholder="Enter item name" required>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_3</i>
                            </span>
                          </div>
                          <textarea class="form-control" name="desc" id="quickPostText" placeholder="Enter item description"></textarea>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_4</i>
                            </span>
                          </div>
                          <input type="number" name="price" class="form-control" placeholder="Enter item price" min="0" step=".01" required>
                        </div>  
                        <div id="quickPostAttachment" class="fileinput fileinput-new text-center " data-provides="fileinput">
                          <p>Add item image</p>              
                          <div class="item-image">
                            <a id="imgbtn" href="#" class="btn btn-raised btn-round btn-default btn-file success">
                                <span class="fileinput-new"><i class="material-icons-outlined">insert_photo</i></span>
                                <span class="fileinput-exists"><i class="material-icons-outlined">swap_vertical_circle</i></span>
                                <input type="text" name="featureImg"  value="" hidden />
                            </a>
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="material-icons-outlined">remove_circle_outline</i></a>
                          </div>                          
                        </div>                                 
                      </form>  
                    </div>
                  </div>
                </div>
                <!-- Add printer-->
                <div class="col-md-4">
                    <div class="card dash-cards">
                      <div class="card-header card-header-success card-header-text">
                        <div class="card-icon">
                          <i class="material-icons-sharp">local_printshop</i>
                        </div>
                        <hr class="seperator"/>
                        <h4 class="card-title">Add Printer</h4>
                        <button id="quickAddSubmit" class="btn btn-success" type="submit" form="quickAdd"> <i class="material-icons-outlined">add</i></button>
                      </div>
                      <div class="card-body ">                    
                        <form id="quickAdd" method="POST" action="" enctype="multipart/form-data">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_1</i>
                              </span>
                            </div>
                            <label for="printerType">Select printer type</label>   
                            <select id="printerType" name="printerType" class="form-control selectpicker" data-style="btn btn-link" required>
                              <option>category</option>
                              <option>category</option>
                            </select>
                          </div>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_2</i>
                              </span>
                            </div>
                            <label for="printer">Select printer</label>   
                            <select id="printer" name="printer" class="form-control selectpicker" data-style="btn btn-link" required>
                              <option>category</option>
                              <option>category</option>
                            </select>
                          </div>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_3</i>
                              </span>
                            </div>
                            <input type="text" name='name' class="form-control" placeholder="Enter printer name" required>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <script src="{{ url_for('static', filename='assets/js/dash/dash.js')}}"></script>          
       {% endblock %}
             
              