{% extends 'admin/dash/componets/base.html' %}
{% block content %}
{% include 'shared/logs.html' %}

<!--Menu category and items tables and forms-->
<div class="row">
    <div class="col-md-12">
        <div id="menuCard" class="card">
            <!-- <div class="card-header"> -->
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="card nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-pills nav-pills-success" role="tablist" id=menuTabs>
                            <li class="nav-item">
                                <a id="menucat" class="nav-link active" href="#cat" data-toggle="tab">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a id="menuitem" class="nav-link" href="#item" data-toggle="tab">Items</a>
                            </li>                           
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="card-body "> -->
                <div class="tab-content">
                    <div class="tab-pane card active" id="cat">
                        <div class="col-md-3 col-lg-2 category-filter">
                            <select class="selectpicker" data-size="2" data-style="btn btn-success btn-round" title="Filter">
                              <option value="all" selected>All</option>
                              <option value="True">Active</option>
                              <option value="False">Inactive</option>                              
                            </select>
                          </div>
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                              <i class="material-icons">category</i>
                            </div>                  
                            <h4 class="card-title">{{menutable}}</h4>
                        </div>
                        
                        <div id="categories" class="col-md-12">                            
                            <div class="table-responsive">
                                <table id="catTable" class="table table-striped w-auto">
                                <thead>
                                    <tr> 
                                        <th></th>
                                        <th></th>                                                                      
                                        {% if catkeys %}
                                            {% for key in catkeys %}                                                                      
                                            <th class="th-sm text-center text-capitalize">{{key}}</th>
                                            {% endfor %}
                                        {% endif %}                                        
                                        <th class="text-center">Actions</th>                                                      
                                    </tr>
                                </thead>
                                <tbody>
                                {% if cat %}
                                    {% for c in cat %}                                                      
                                <tr id="{{c.id}}" data-class="cat" class="{{c.is_active}} all">
                                    <td class="text-center"></td>                                                        
                                    <td>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="row-check form-check-input" type="checkbox" value="" data-id="{{c.id}}">
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                        </div>
                                    </td>
                                    <td class="text-center text-capitalize">{{c.id}}</td>
                                    <td class="name text-center text-capitalize">{{c.name}}</td>
                                    <td class="is_active text-center text-capitalize" data-cat_active="{{c.is_active}}">{{c.is_active}}</td>                                                                                            
                                    <td class="td-actions justify-content-center">                                                            
                                        <button data-id="{{c.id}}" type="button" id="edit" class="btn btn-link lime-accent-4-text cat-task" rel="tooltip" data-placement="bottom" title="Set Active" data-func="active" data-title="Edit Category">
                                            <i class="material-icons">check</i>
                                        </button>
                                        <button data-id="{{c.id}}" type="button" id="archive_cat" class="btn btn-link red-accent-3-text cat-task" rel="tooltip" data-placement="bottom" title="Set inactive" data-title="Archive Category" data-func="archived">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                    {% endfor %}
                                {% endif %}                                                    
                                </tbody>
                                </table>                          
                            </div>
                            <div class="row categoryActions">
                                <span>
                                    <div class="btn icon-link-size green lighten-3" data-toggle="modal" data-target="#catModal"><a data-href="{{url_for('addCat')}}" class="cat-task" title="Add" data-toggle="tooltip" data-func="add" data-title="Add Menu Category"><i class="material-icons">add</i></a></div>
                                    <div class="btn icon-link-size green lighten-3"><a class="cat-task" title= "Edit" data-toggle="tooltip" data-func="edit" data-title="Edit Menu Category"><i class="material-icons">edit</i></a></div>                                                        
                                    <div class="btn icon-link-size green lighten-3"><a class="cat-task" title="Set inactive" data-toggle="tooltip" data-func="archive"><i class="material-icons">close</i></a></div>
                                    
                                </span>
                            </div>
                        </div>
                        <!--Category Modal-->
                        {% include 'admin/dash/componets/catModal.html' %}
                        <script src="{{ url_for('static', filename='assets/js/dash/menu_cat.js')}}"></script>                                 
                    </div> 
                <!--End Category table-->  
        <!--==========MENU ITEMS===========-->        
                    <div class="tab-pane card" id="item">
                        <div class=" col-sm-8 col-md-4 col-lg-2 category-filter">
                            <div class="dropdown">
                              <button class="dropdown-toggle btn btn-success btn-round btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Filter
                              </button>
                              <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
                                <a data-filter="all" class="selects dropdown-item" href="#">All</a>                                
                                <a class="dropdown-item dropdown-toggle" href="#">Categories</a>
                                <div class="dropdown-menu">
                                    {% if cat %}
                                            {% for c in cat %}                                                                      
                                            <a data-filter="{{c.id}}" class="selects dropdown-item text-center text-capitalize">{{c.name}}</a>
                                            {% endfor %}
                                        {% endif %}              
                                </div>
                                <a class="dropdown-item dropdown-toggle" href="#">Offered</a>
                                <div class="dropdown-menu">                                                                                                        
                                    <a data-filter="True" class="selects dropdown-item text-center text-capitalize">Is Offered</a>
                                    <a data-filter="False" class="selects dropdown-item text-center text-capitalize">Is Not Offered</a>                                                   
                                </div>                                
                              </div>
                            </div>
                          </div>
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                              <i class="material-icons">fastfood</i>
                            </div>                  
                            <h4 class="card-title">{{itemtable}}</h4>
                        </div>
                        
                            <div id="items" class="col-md-12">                  
                                <div class="table-responsive">
                                    <table id="itemTable" class="table table-striped w-auto">
                                    <thead>
                                        <tr> 
                                            <th></th>
                                            <th></th>
                                            {% if itemkeys %}
                                                {% for key in itemkeys %}                                                                      
                                            <th class="th-lg text-center w-auto">{{key}}</th>
                                                {% endfor %}
                                            {% endif %}
                                            <th class="th-lg text-center w-auto">Tax</th>
                                            <th class="th-lg text-center w-auto">item_image</th>                                                                   
                                            <th class="th-lg text-center w-auto">Actions</th>                                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if items %}
                                            {% for i in items %}                                                      
                                        <tr id="{{i.item.id}}" data-class="itemrow"  class="{{i.item.is_offered}} {{i.item.item_category}} all">
                                            <td class="text-center"></td>                                                        
                                            <td>
                                                <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="row-check form-check-input" type="checkbox" value="" data-id="{{i.item.id}}">
                                                    <span class="form-check-sign">
                                                    <span class="check"></span>
                                                    </span>
                                                </label>                                                                                               
                                                </div>
                                            </td>
                                            <td id="theID" class="text-center text-capitalize">{{i.item.id}}</td>
                                            <td class="item_name text-center text-capitalize">{{i.item.item_name}}</td>
                                            <td class="price text-center text-capitalize">{{'%.2f'|format(i.item.unit_price/100)}}</td> 
                                            <td class="category text-center text-capitalize" data-cat="{{i.item.item_category}}">{{i.cat}}</td>
                                            <td class="desc text-center text-capitalize">{{i.item.item_description}}</td>                                            
                                            <td class="offered text-center text-capitalize">{{i.item.is_offered}}</td>
                                            <td class="special text-center text-capitalize">{{i.item.is_special}}</td>
                                            <td class="special text-center text-capitalize">{% for tax in i.item.taxes %} {{tax.tax_type}}: {{'%.2f'|format(tax.tax_rate/100000)}}<br>{% endfor %}</td> 
                                            <td class="img text-center text-capitalize">
                                                {% if i.img %}
                                                <div class="img-container">                                                    
                                                    <img class="img" src="{% for img in i.item.item_image %}{{img.path}}{% endfor %}" alt="...">
                                                    
                                              </div>
                                              {% endif %}
                                            </td>
                                                                                                                                      
                                            <td class="td-actions justify-content-center">                                                            
                                                <button data-id="{{i.item.id}}" type="button" id="edit" class="btn btn-link lime-accent-4-text item-task" rel="tooltip" data-placement="bottom" title="Set Active" data-func="active" data-title="Edit Item">
                                                    <i class="material-icons">check</i>
                                                </button>
                                                <button data-id="{{i.item.id}}" type="button" id="archive_cat" class="btn btn-link red-accent-3-text item-task" rel="tooltip" data-placement="bottom" title="Set inactive" data-func="archived" data-title="Archive Item">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                            {% endfor %}
                                        {% endif %}                                                    
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row itemActions">
                                    <span>
                                        <div class="btn icon-link-size green lighten-3" data-toggle="modal" data-target="#itemModal"><a class="item-task" data-href="{{url_for('add_item')}}"  title="Add" data-toggle="tooltip" data-func="add" data-title="Add Menu Item"><i class="material-icons">add</i></a></div>                                                        
                                        <div class="btn icon-link-size green lighten-3"><a class="item-task" data-href="" title="Edit" data-toggle="tooltip" data-func="edit" data-title="Edit Menu Item"><i class="material-icons">edit</i></a></div>
                                        <div class="btn icon-link-size green lighten-3"><a class="item-task" title= "Archive Item" data-toggle="tooltip" data-func="archive"><i class="material-icons">close</i></a></div>
                                    </span>
                                </div>
                            </div>                        
                         <!--Item Modal-->
                         {% include 'admin/dash/componets/itemModal.html' %}
                         <script src="{{ url_for('static', filename='assets/js/dash/menu_item.js')}}"></script>
                         <!--End Item table-->                    
                    </div>
                </div>
            <!-- </div> -->
        </div>           
    </div>
</div>
{% endblock %}

