{% extends 'admin/dash/componets/base.html' %}
{% block content %}
{% include 'shared/logs.html' %}
<div id=posRow class="row">
    <div id="position_table" class="col-md-8">    
        <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
            <i class="material-icons">how_to_reg</i>
            </div>                  
            <h4 class="card-title">{{tablename}}</h4>
        </div>
        <div id="stafflist" class="card-body">
            <div id="tableP" class="table-responsive">
            <table id="table" class="table table-striped">
                <thead>
                <tr> 
                    <th></th>
                    <th></th>                                                                      
                    <th class="text-center">Position Name</th>
                    <th class="text-center"> Number of Staff</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
            <tbody>                
                {% if positions %}
                {% for position  in positions %}                
                <tr id="{{position.position.id}}">            
                    <td class="text-center">{{ loop.index }}</td>
                    <td>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input class="post-action form-check-input" type="checkbox" value="" data-id="{{position.position.id}}">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                    </div>
                    </td>                
                    <td class="pos text-center text-capitalize" data-pos="{{position.position.id}}" class="text-left text-uppercase">{{position.position.name}}</td>
                    <td class ="num text-center text-capitalize" class="text-left text-uppercase">{{position.num}}</td>
                    <td class="td-actions text-center">                        
                        <button data-id="{{position.position.id}}" type="button" id="edit_post" class="row_action btn btn-link lime-accent-4-text" rel="tooltip" data-placement="bottom" title="Edit" data-title="Edit Position" data-func="edit">
                        <i class="material-icons">edit</i>
                        </button>
                        <button data-id="{{position.position.id}}" type="button" id="delete_post" class="row_action btn btn-link red-accent-3-text" rel="tooltip" data-placement="bottom" title="Delete" data-title="Eliminate Position" data-func="terminate">
                        <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                {% endfor %}       
                {% endif %}
                </tbody>
            </table>
            </div>
            <div class="row">
                <span>
                    <div class="btn icon-link-size green lighten-3" data-toggle="modal" data-target="#staffModal"><a class="staff-tasks" data-href="{{url_for('positions')}}" title= "Add" data-func="add" data-toggle="tooltip" data-title="Add a new position"><i class="material-icons">add</i></a></div>
                    <div class="btn icon-link-size green lighten-3" ><a class="staff-tasks" title= "Edit" data-func="edit" data-toggle="tooltip" data-title="Edit a position"><i class="material-icons">edit</i></a></div>                    
                    <!-- <div class="btn icon-link-size green lighten-3"><a class="staff-tasks" data-href="{{url_for('staff')}}" title= "Delete" data-func="terminate" data-toggle="tooltip" data-title="Delete"><i class="material-icons">close</i></a></div> -->
                </span>
            </div>
        </div>
        </div>
    </div>
</div>
 <!--Editing Functions-->
 <div id="staffModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modal-title" class="modal-title">Enter Your ID</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="staff" method="POST" action="">
              <div class="form-group">
              <!-- <label for="exampleFormControlInput1">Email address</label> -->
              <input type="text" class="dbAction form-control" id="name" name="name" placeholder="Position Name"/>
              </div>
              <input type="text" name="action" hidden/>            
              <div class="row col-md-12 justify-content-center">
                <div class="">
                  <button id="cancel" type="reset" class="btn btn-secondar pull-left" data-dismiss="modal">Cancel<div class="ripple-container"></div></button>
                  <button type="submit" class="btn btn-success pull-right">Submit<div class="ripple-container"></div></button>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer"></div>         
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='assets/js/dash/pos.js')}}"></script>
{% endblock %}