<header>
    <div class="top_header">
        <!-- <div class="btn btn-round btn-sm" id="tourbtn"  data-toggle="tooltip" title="replay tour" >
            <i class="material-icons">replay</i>
        </div> -->
        <span class="header_logo">
            <img src="{{url_for('static', filename='/assets/img/icons/salespoint-green.png')}}" />
        </span>
        <h1 class="header_title" >SalesPoint</h1>

    </div>
    <hr>
    <div class="bottom_header">
        <h3 class="header_tag">Sales Recording and Report Management System by Apex</h3>
    </div>
</header>
