{% extends '/modules/base.html' %}
{% block content %}
    <div class="row"></div>
          <div class="col-md-8 col-12 mr-auto ml-auto">
            <!--      Wizard container        -->
            <div class="wizard-container">
              <div class="card card-wizard" data-color="green" id="wizardProfile">
                <form  id="wizard">
                  <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                  <div class="card-header text-center">
                    <h3 class="card-title">
                     SalesPoint Setup
                    </h3>
                    <h5 class="card-description">This information will create your administrator account and setup your basic busines information</h5>
                  </div>
                  <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                          Business
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                          Terminal (Where you take Orders)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                          Administrator Account
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="about">
                            <h5 class="info-text"> Let's start with your business information </h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label class="bmd-label-floating text-uppercase">Business Name</label>
                                        <input type="text" name="name" class=" dbAction form-control editable" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Phone</label>
                                        <input type="text" pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" name="phone" class="dbAction form-control editable" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label class="bmd-label-floating text-capitalize">Address</label>
                                        <input type="text" name="add" class="dbAction form-control" required>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating text-capitalize">City</label>
                                            <input type="text" name="city" class="dbAction form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating text-capitalize">State</label>
                                            <input type="text" name="st" class="dbAction form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Postal Code</label>
                                            <input type="text" pattern="^\d{5}(-\d{4})?$" name="zip" class="dbAction form-control" required>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="account">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="bmd-label-floating" for="terminal-id">Terminal ID</label>
                                    <input type="text" class="form-control" name="id" id="terminal-id" placeholder="">
                                </div>
                                <div class="form-group col-md-6" >
                                    <label class="bmd-label-floating" for="inputAddress">Terminal Location</label>
                                    <input type="text" class="form-control" name="location" id="inputAddress" placeholder="">
                                </div>
                            </div>                            
                            <div class="form-row">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="bmd-label-floating" class="form-check-label">
                                            <input class="form-check-input success" name="autolog" type="checkbox" value="">
                                                Auto Logoff Time
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">                            
                                    <input type="number" class="form-control" min="1" name="timer" id="autologoff-time" value="" placeholder="">
                                </div>
                                <a id="orderinfobtn" tabindex="0" class="btn btn-sm btn-info btn-round" role="button" data-toggle="popover" data-trigger="focus" title="Auto Logoff" data-content="Auto Loggoff is a security feature created to kepp your business safe. If the application is left running with no activity the logged in user will automatically be logged out. This keeps your business secure. After a period of time without activity the system will display a 1 minute warning timer. If the user interacts with the system in that 1 minute they will not be logged out. You can choose to to run auto logoff or not. Pick the amount of time (in munutes) of inactivity before logging out a user."><i class="icon-info" ></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="address">
                            <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <h5 class="info-text"> Your Administrator Account </h5>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="fname" class="dbAction form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="lname" class="dbAction form-control" required>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label>Position</label>
                                <input type="text" value="1" hidden name="pos" placeholder="" class="form-control"><input disabled value="MANAGER" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" hidden value="1" name="role" placeholder="" class="form-control"><input disabled value="ADMINISTRATOR"/>
                                </div>
                            </div>
                            </div>
                            <a id="orderinfobtn" tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="USER ID" data-content="Clicking 'Finish' will create an Administratve account for you. Once the account is created your USER ID WILL DISPLAY ON THE SCREEN. DO NOT CLICK OK UNTILL YOU HAVE SAFELY STORED YOUR USER ID. IF YOUR ID IS LOST YOU WILL NOT BE ABLE TO ACCESS YOUR DATA"><i class="fas fa-exclamation-circle"></i></a>
                        </div>
                    </div>
                  </div>
                </form>
                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                    </div>
                    <div class="clearfix"></div>
                    <input type="button" class="btn btn-next btn-fill btn-primary btn-wd" name="next" value="Next">
                    <input type="button" id="finished" class="btn btn-finish btn-fill btn-success btn-wd" name="Finish" value="Finish" style="display: none;"/>
                </div>
                </div>                
              </div>
              <div class="ml-auto">
            </div>
            <!-- wizard container -->
          </div> 
          
          <div class="modal fade" id="userID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">YOUR USER ID</h5>
                </div>
                <div class="modal-body">
                 <p id="id" class="text-center"></p>
                </div>
                <div class="modal-footer">
                  <button id="savID" type="button" class="btn btn-primary">Finished</button>
                </div>
              </div>
            </div>
          </div>
          <script src="{{ url_for('static', filename='assets/js/firstrun/fr.js')}}"></script>    
    {% endblock %}