<div class="card logs {{logoff}}">
    <div class="card-body">
        <div>
            <p class="user-info"> <span class="text-capitalize">User: {{user.first_name}},</span> <span class="text-capitalize" id="user-role">{{user.role.role_type}}</span> <span class="cdate">{{date}}</span> <span id="ctime" class="ctime"></span></p>
            <p class="autologoff">Auto logoff in: 00:<span id="outTime"></span> </p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/shared/clock.js')}}"></script>