<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {{ title }}
    </title>
  
    <!--     Fonts and icons     -->
    <link href="{{url_for('static', filename='assets/css/googlefonts.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/roboto.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/material-icons.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/fontawesome-all.css')}}" type="text/css" rel="stylesheet" />
    <!-- CSS Files -->
    <!--Image Gallery-->
    <link href="{{url_for('static', filename='assets/css/magnific-popup.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/imagepop.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/material-dashboard.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/panel.css')}}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/mdb-colors.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/custom.css')}}" />
</head>
{% block base %}
{% endblock base%}